[submodule "scrappr"]
	path = scrappr
	url = https://github.com/vaultdweller101/scrappr
[submodule "scrappr-mobile"]
	path = scrappr-mobile
	url = https://github.com/vaultdweller101/scrappr-mobile
[submodule "scrappr-extension"]
	path = scrappr-extension
	url = https://github.com/vaultdweller101/scrappr-extension
